.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Card {
  max-width: 270px !important;
  height: auto;
  min-height: 200px !important;
  cursor: pointer;
  font-family: "Open Sans";
}

.Card-media {
  width: 270px;
  height: 200px;
}
.Card-views {
  position: relative;
  top: 6px;
}
.Card-title {
  word-wrap: break-word !important;
  font-size: 1.3em !important;
}

.App-bar {
  background-color: #1a76d2 !important;
}

.contentUrl {
  text-decoration: none;
}

.FooterStyle {
  margin-top: 2% !important;
  padding: 1% !important;
  margin-bottom: 1% !important;
}